.selectedLoginType {
  border: 2px solid rgb(66, 184, 231);
}

.notSelectedLoginType {
  background: white;
  color: black;
}

.bg-default {
  background-color: white !important;
}

.my-input {
  border: none !important;
  /* border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-radius: 0px;
  padding-left: 0px; */
}

.form-group .input-group .input[type="text"]:focus {
  border: none !important;
  outline: none !important;
}

.responsive {
  width: 100%;
  max-width: 400px;
  height: auto;
}

#btn1 {
  background-image: linear-gradient(
    to bottom right,
    #0575e6,
    #021b79
  ); /* Standard syntax (must be last) */
}

.custom-icon {
  padding: 10px;
  font-size: 20px;
  width: 40px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.custom-icon:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-whatsapp {
  background: #01e675;
  color: white;
}

#bg {
  background: linear-gradient(
    to bottom right,
    #0575e6,
    #021b79
  ); /* Standard syntax (must be last) */
}
